{% for article in articles %}

{%  dump articles  %}
    <article class="bg-slate-100 p-[2rem] border-b border-gray-border rounded-lg  shadow-lg mb-4">
            <div class="flex justify-between items-center">
                <span class="flex items-center text-gray-dark text-app-s lg:text-app-l">
                 <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAABmJLR0QA/wD/AP+gvaeTAAAAq0lEQVQ4jdXQP45BURzF8Q+TvGj8aVRoZjlCiGR2YCnysAT7MMUUE4lNELU3hZIFmMJVeZen45vc5tx7zvndH69Kgjn+kGEWtMLMsEQLbXxj+kxAFoxXOkG7ofxE6DlP/Ig8bmKMNepY4Ae/RdsSlz9n2CMVWWJsgi6+8IkKSjhgV6Q9xQYDVMMZYovJI3M/mBs5d40Q0rsXsArNMUYeLPLkMnKMGo73At6Qfy/0G2JPjEeQAAAAAElFTkSuQmCC" class="inline"/>
                    <span> {{ article.author }}</span>
            </span>
            </div>
        <div class="flex items-center justify-between py-2">
            <h3 class="mr-12">
                <a href="{{ path('app_article', { slug: article.slug } )}}"
                   class="font-bold text-xl"
                   title="Lire  article"> {{ article.name }} </a>
            </h3>
            <div>
                <span class="text-xs mr-2"> {{ article.category}} </span> > <span  class="text-xs"> {{ article.subCategory }}</span>
            </div>
        </div>
        <p> {{ article.content|u.truncate(30 , '...')|raw }}</p>
    </article>
{% endfor %}