{% extends 'base.html.twig' %}

{% block title %} Auteur{% endblock %}

{% block body %}

    <div class="container mx-[4%] max-w-none md:mx-[10%] lg:mx-[16%] w-auto mt-[0rem] lg:mt-12 font-Asap text-gray-dark text-app-l leading-normal ">
        <div class="fil-ariane block text-app-xs mb-24 ">
            <a  href="{{ path('app_homepage') }}"  class="hover:text-[#0085ba] cursor-pointer">
                {{ app_title }}
            </a> >
            {{ Author.name }}

        </div>


        <div class="presentation mb-16">
            <h1 class="text-4xl  uppercase font-bold  pb-[2.5rem]"> Découvrez {{ Author.name }} </h1>
            <div class="leading-[2rem]">
                {{ Author.description }}
            </div>
        </div>

        <div class="mt-16">
            <h2 class="text-2xl  uppercase font-bold  pb-[2.5rem]"> Les derniers articles de  {{ Author.name }} </h2>
            <div class="article mb-12">
                {{ include('public/include/_list_article.html.twig') }}
            </div>
        </div>
    </div>

{% endblock %}

