{% extends 'base.html.twig' %}

{% block title %} Article {% endblock %}
{%  dump article %}
{% block body %}

    <div class="container mx-[4%] max-w-none md:mx-[10%] lg:mx-[16%] w-auto mt-[0rem] lg:mt-12 font-Asap text-gray-dark text-app-l leading-normal ">


        <div class="presentation mb-16">
            <h1 class="text-4xl  uppercase font-bold  pb-[2.5rem]"> {{article.name}}</h1>
              <div class="flex border-t border-solid  border-[#0085ba] pt-4 pb-12 lg:flex justify-between  text-xs" >
                  <div class="flex justify-between w-[30%] ">
                      <span>
                          <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAABmJLR0QA/wD/AP+gvaeTAAAAq0lEQVQ4jdXQP45BURzF8Q+TvGj8aVRoZjlCiGR2YCnysAT7MMUUE4lNELU3hZIFmMJVeZen45vc5tx7zvndH69Kgjn+kGEWtMLMsEQLbXxj+kxAFoxXOkG7ofxE6DlP/Ig8bmKMNepY4Ae/RdsSlz9n2CMVWWJsgi6+8IkKSjhgV6Q9xQYDVMMZYovJI3M/mBs5d40Q0rsXsArNMUYeLPLkMnKMGo73At6Qfy/0G2JPjEeQAAAAAElFTkSuQmCC" class="inline"/>par : {{article.author}} </span>
                  </div>
                  <div class="flex justify-between w-[30%] ">
                      <span class="inline ">
                          <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAABmJLR0QA/wD/AP+gvaeTAAAAnElEQVQ4jc3SPQrCQBCG4Yegdiqk9VB2NnobgwfxCIKteCQtBLfwp0j8S9Rs1MIPPtgZdl9mdoZ/0QwBJxyxRrcJICAtzgnmBTRap1I8wK7IP3NA9g5QpxT7bwDXN0kp2cESB6/Lvxi0SoBRAW3Lp1FbQTlYYBzXQRXQwwb9JoD7PxjKF2gbCXhQwAqTyPuVMWZuqxzjgOknlf5eZ8pPOEAe2yXbAAAAAElFTkSuQmCC" class="inline"/>
                          {{article.category}} </span>
                      <span class="inline ">
                       <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAABmJLR0QA/wD/AP+gvaeTAAAAcklEQVQ4jc2SMQqAMAxFn+IJeh4H8WqKd3V3qUs6aEFKWtIK4ocsoXn5DR/+pg3wgCR1AJMF4AGn9AXYLRAp9McbMrcCnt+pBmTf9IaBogbrJqCrBagDrQ6ysNcO0iOe6EGKclxhy2pFj3IsDywWZ98pAMhZIVY7k+dVAAAAAElFTkSuQmCC" class="inline"/>
                          {{article.subCategory}}</span>
                  </div>
              </div>
            <div class=" content leading-[2rem]">
              {{  article.content|raw }}
            </div>
        </div>

        <div class="mt-16">
            <h2 class="text-2xl  uppercase font-bold  pb-[2.5rem]"> Les Articles en relation avec {{article.category}} </h2>
            <div class="article mb-12">
                {{ include('public/include/_list_article.html.twig') }}
            </div>
        </div>
    </div>

{% endblock %}

