<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" type="image/png" href="./assets/images/logos/logo-sentencepress-blanc.png"/>
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="stylesheet" href="./assets/styles/styles.css">
        <script src="./assets/javascripts/"></script>
    </head>
    <header>
        <div class="wrapper-header">
            <a href="{{ path('app_homepage') }}" class="logo"><img src="./assets/images/logos/logo-sentencepress-long-blanc.svg" alt="Logo SentencePress"></a>
            <nav class="menu">
                <ul>
                    <li class="menu-item"><a href="{{ path('app_homepage') }}" title="Aller à : Item 1">Item 1</a></li>
                    <li class="menu-item"><a href="{{ path('app_homepage') }}" title="Aller à : Item 2">Item 2</a></li>
                    <li class="menu-item"><a href="{{ path('app_homepage') }}" title="Aller à : Item 3">Item 3</a></li>
                    <li class="menu-item login"><a href="{{ path('app_homepage') }}" title="Aller à : Item 4"><span class="material-icons">login</span>Connexion</a></li>
                </ul>
            </nav>
        </div>
    </header>
    <body>
        {% block body %}{% endblock %}
    </body>
</html>