{% set menuData = menu_generator.generate() %}
<header>

    <div class="wrapper-header">
        <a href="{{ path('app_homepage') }}" class="logo"><img src="{{ asset('/assets/images/logos/logo-sentencepress-long-blanc.svg') }}" alt="Logo SentencePress"></a>
        <nav class="menu">
            <ul>
                {% for menu in menuData[0] %}
                    {% set menuClass = ""  %}
                    {% if menu.subcategories %}
                        {% set menuClass =  "sub-menu-parent" %}
                    {% endif %}
                    <li class="menu-item {{ menuClass }}">
                        <a href="{{ path('app_category', { slug: menu.slug } )}}" title="Aller à : {{ menu.name }}">{{ menu.name }}</a>
                        {% if menu.subcategories %}
                        <ul class="sub-menu">
                            {% for subCat in menu.subcategories %}
                            <li class="sub-menu-item"><a href="{{ path('app_subcategory', { category_slug: menu.slug , slug: subCat.slug  } )}}" title="Aller à : {{ subCat.name }}">{{ subCat.name }}</a></li>
                            {% endfor %}
                        </ul>
                        {% endif %}
                    </li>
                {% endfor %}
                {% if app.user %}
                    <li class="menu-item login"><a href="{{ path('app_logout') }}" title="Aller à : Item 4"><span class="material-icons">logout</span>Deconnexion</a></li>
                {% else %}
                    <li class="menu-item login"><a href="{{ path('app_login') }}" title="Aller à : Item 4"><span class="material-icons">login</span>Connexion</a></li>
                {% endif %}

            </ul>
        </nav>
    </div>
</header>