{% extends 'base.html.twig' %}

{% block title %} Sous catégorie{% endblock %}
{% block body %}

    <div class="container mx-[4%] max-w-none md:mx-[10%] lg:mx-[16%] w-auto mt-12 font-Asap text-gray-dark text-app-l leading-normal ">
        <div class="fil-ariane block text-app-xs mb-24 ">
            <a  href="{{ path('app_homepage') }}"  class="hover:text-[#0085ba] cursor-pointer">
                {{ app_title }}
            </a> >
            <a  href="{{ path('app_category' , { slug: subcategory.category.slug }) }}"  class="hover:text-[#0085ba] cursor-pointer">
                {{ subcategory.category.name }}
            </a>
            > {{ subcategory.name }}

        </div>


        <div class="presentation mb-16">
            <h1 class="text-4xl  uppercase font-bold  pb-[2.5rem]"> {{ subcategory.name }} </h1>
            <div class="leading-[2rem]">
                {{ subcategory.description|raw }}
            </div>
        </div>


        <div class="mt-16">
            <h2 class="text-2xl  uppercase font-bold  pb-[2.5rem]"> Les Articles </h2>
            <div class="article mb-12">
                {{ include('public/include/_list_article.html.twig') }}
            </div>
        </div>
    </div>

{% endblock %}

